In [1]:
import pandas as pd
import numpy as np

# plot
import plotly.express as px
import plotly.graph_objects as go

#Import machine learning
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
# import xgboost

from sklearn.model_selection import train_test_split #split
from sklearn.metrics import r2_score, mean_squared_error #metrics

# Data Extraction

In [48]:
listings = pd.read_csv('../data/airbnb_sydney/listings.csv') # list of info about the house, location, host, etc.
# reviews = pd.read_csv('../data/airbnb_sydney/reviews.csv') # reviews => details of reviews in listings_df
# calendar = pd.read_csv('../data/airbnb_sydney/calendar.csv') # calendar (house availbility)

# Data Understainding

In [4]:
# 1. NULL checking
listings.isnull().mean()

id                                              0.000000
listing_url                                     0.000000
scrape_id                                       0.000000
last_scraped                                    0.000000
name                                            0.000367
                                                  ...
calculated_host_listings_count                  0.000000
calculated_host_listings_count_entire_homes     0.000000
calculated_host_listings_count_private_rooms    0.000000
calculated_host_listings_count_shared_rooms     0.000000
reviews_per_month                               0.294042
Length: 74, dtype: float64

In [10]:
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [18]:
listings[listings['id'] == 49060109][['neighbourhood_cleansed', 'availability_30', 'availability_60']]

      neighbourhood_cleansed  availability_30  availability_60
32642              Warringah               10               13

In [17]:
calendar_df[(calendar['listing_id'] == 49060109) & 
            (calendar['available'] == 't') & 
            (calendar['date'] < '2021-05-12')]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
11930738,49060109,2021-04-17,t,$420.00,$420.00,1.0,1125.0
11930739,49060109,2021-04-18,t,$350.00,$350.00,1.0,1125.0
11930740,49060109,2021-04-19,t,$350.00,$350.00,1.0,1125.0
11930741,49060109,2021-04-20,t,$350.00,$350.00,1.0,1125.0
11930742,49060109,2021-04-21,t,$350.00,$350.00,1.0,1125.0
11930743,49060109,2021-04-22,t,$350.00,$350.00,1.0,1125.0
11930744,49060109,2021-04-23,t,$420.00,$420.00,1.0,1125.0
11930745,49060109,2021-04-24,t,$420.00,$420.00,1.0,1125.0
11930746,49060109,2021-04-25,t,$350.00,$350.00,1.0,1125.0
11930747,49060109,2021-04-26,t,$350.00,$350.00,1.0,1125.0

# Data Cleaning

In [49]:
listings_df = listings[[
    'id', 'name', 'neighbourhood_cleansed','latitude', 'longitude', 
    'property_type', 'room_type', 'accommodates', 
    'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
    'minimum_nights', 'maximum_nights', 'has_availability',
    'availability_30', 'availability_60', 'availability_90',
    'availability_365', 'instant_bookable',
    'number_of_reviews',
    'number_of_reviews_ltm', 'number_of_reviews_l30d',
    'review_scores_rating', 'review_scores_accuracy',
    'review_scores_cleanliness', 'review_scores_checkin',
    'review_scores_communication', 'review_scores_location',
    'review_scores_value', 'reviews_per_month', 
    'host_id',
    'host_name', 'host_since', 'host_location',
    'host_acceptance_rate', 'host_is_superhost',
    'host_neighbourhood', 'host_listings_count','host_verifications',
    'calculated_host_listings_count',
    'calculated_host_listings_count_entire_homes',
    'calculated_host_listings_count_private_rooms',
    'calculated_host_listings_count_shared_rooms'
]]

In [56]:
listings_df.isnull().mean()

id                                              0.000000
name                                            0.000367
neighbourhood_cleansed                          0.000000
latitude                                        0.000000
longitude                                       0.000000
property_type                                   0.000000
room_type                                       0.000000
accommodates                                    0.000000
bathrooms_text                                  0.000918
bedrooms                                        0.065730
beds                                            0.012577
amenities                                       0.000000
price                                           0.000000
minimum_nights                                  0.000000
maximum_nights                                  0.000000
has_availability                                0.000000
availability_30                                 0.000000
availability_60                                 0.000000
availability_90                                 0.000000
availability_365                                0.000000
instant_bookable                                0.000000
number_of_reviews                               0.000000
number_of_reviews_ltm                           0.000000
number_of_reviews_l30d                          0.000000
review_scores_rating                            0.330487
review_scores_accuracy                          0.332538
review_scores_cleanliness                       0.332048
review_scores_checkin                           0.332874
review_scores_communication                     0.332171
review_scores_location                          0.332844
review_scores_value                             0.333089
reviews_per_month                               0.294042
host_id                                         0.000000
host_name                                       0.029897
host_since                                      0.029897
host_location                                   0.030937
host_acceptance_rate                            0.591695
host_is_superhost                               0.029897
host_neighbourhood                              0.411794
host_listings_count                             0.029897
host_verifications                              0.000000
calculated_host_listings_count                  0.000000
calculated_host_listings_count_entire_homes     0.000000
calculated_host_listings_count_private_rooms    0.000000
calculated_host_listings_count_shared_rooms     0.000000
dtype: float64

In [54]:
listings_df.loc[:, 'price'] = listings_df['price'].map(lambda p: int(p[1:-3].replace(",", "")))
listings_df.loc[:, 'amenities'] = listings_df['amenities'].map(
    lambda amns: "|".join([amn.replace("]", "").replace("[", "").replace('"', "").strip()\
                           for amn in amns.split(",")])
)

<ipython-input-54-ea36b6bdac93>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_df['price'] = listings_df['price'].map(lambda p: int(p[1:-3].replace(",", "")))
<ipython-input-54-ea36b6bdac93>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_df['amenities'] = listings_df['amenities'].map(

In [110]:
listings_df[(listings_df['has_availability'] == 'f') & (listings_df['availability_30'] > 0)][[
    'minimum_nights', 'maximum_nights',
    'availability_30', 'availability_60', 'availability_90',
    'availability_365',
]]
# 证明了has_availability = f的房子 已经不再出租了 可以认为是outlier

Empty DataFrame
Columns: [minimum_nights, maximum_nights, availability_30, availability_60, availability_90, availability_365]
Index: []

In [103]:
listings_df['room_type'].unique()

array(['Private room', 'Entire home/apt', 'Shared room', 'Hotel room',
       nan], dtype=object)

In [129]:
listings_df = listings_df[listings_df['has_availability'] == 't']

### Pose at least three questions related to business or real-world applications of how the data could be used.
make it easy !!!
1. which neighbourhood gets the most revenue? which type of room type get most revenue?
2. which service in house is customers most concerned - reviews & marks
3. find the hottest place in Sydeny in the next month - the LGA most most booked and the rate

4. BK: how to predict the price

##### 1. which neighbourhood gets the most revenue? which type of room type get most revenue?

In [146]:
df1 = listings_df[[
    'id', 'name', 'neighbourhood_cleansed','latitude', 'longitude', 
    'property_type', 'room_type', 'accommodates', 
    'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price', 'minimum_nights',
    'availability_30'
]]

df1.loc[:, 'price_per_night'] = round(df1['price'] / df1['minimum_nights'], 2)
df1.loc[:, 'revenues_30'] = (30 - df1['availability_30']) * df1['price_per_night']
df1.loc[:, 'revenues_30_ideal'] = 30 * df1['price_per_night']

/Users/kevin/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/kevin/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [182]:
def average_cal(values):
    return round(np.sum(values), 2)

df1_revenues30_by_room_type = pd.pivot_table(
    data=df1,
    index=['neighbourhood_cleansed'],
    columns=['room_type'],
    values=['revenues_30'],
    aggfunc=average_cal
)['revenues_30'].reset_index()

df1_tran = df1.groupby(
    ['neighbourhood_cleansed', 'room_type']
).agg(
    listing_count = ('id', 'count'),
)

df1_listing_count_by_room_type = pd.pivot_table(
    data=df1_tran,
    index=['neighbourhood_cleansed'],
    columns=['room_type'],
    values=['listing_count']
)['listing_count'].reset_index()

df1_cleansed = df1_revenues30_by_room_type.merge(
    df1_listing_count_by_room_type, 
    left_on='neighbourhood_cleansed', 
    right_on='neighbourhood_cleansed'
)

In [183]:
df1_cleansed.loc[:, 'Entire home/apt'] = round(df1_cleansed['Entire home/apt_x'] / df1_cleansed['Entire home/apt_y'], 2)
df1_cleansed.loc[:, 'Hotel room'] = round(df1_cleansed['Hotel room_x'] / df1_cleansed['Hotel room_y'], 2)
df1_cleansed.loc[:, 'Private room'] = round(df1_cleansed['Private room_x'] / df1_cleansed['Private room_y'], 2)
df1_cleansed.loc[:, 'Shared room'] = round(df1_cleansed['Shared room_x'] / df1_cleansed['Shared room_y'], 2)

df1_cleansed = df1_cleansed[[
    'neighbourhood_cleansed', 'Entire home/apt', 'Hotel room', 'Private room', 'Shared room'
]]

In [184]:
df1_cleansed

room_type,neighbourhood_cleansed,Entire home/apt,Hotel room,Private room,Shared room
0,Ashfield,1856.64,NaN,816.33,1059.28
1,Auburn,1950.11,5355.60,3690.05,1033.76
2,Bankstown,1280.91,NaN,584.05,60.60
3,Blacktown,1258.25,NaN,489.05,NaN
4,Botany Bay,2060.13,5970.00,907.25,810.38
5,Burwood,1733.35,1650.00,668.47,859.45
6,Camden,1440.42,NaN,1351.41,0.00
7,Campbelltown,1876.74,NaN,708.34,850.00
8,Canada Bay,1690.21,NaN,1677.68,969.68
9,Canterbury,1432.43,NaN,723.19,205.92
10,City Of Kogarah,1725.64,NaN,796.03,153.35
11,Fairfield,1064.10,NaN,641.39,NaN
12,Holroyd,1391.43,NaN,8949.26,1275.00
13,Hornsby,2020.72,NaN,746.52,22.71
14,Hunters Hill,3990.67,NaN,1292.74,NaN
15,Hurstville,2018.73,NaN,760.74,863.78
16,Ku-Ring-Gai,2025.64,1523.32,764.99,0.54
17,Lane Cove,2453.57,115.33,1583.06,168.33
18,Leichhardt,2387.50,NaN,2045.77,525.00
19,Liverpool,1663.27,NaN,986.55,16.00
20,Manly,2411.87,372.67,1475.29,2239.74
21,Marrickville,1566.84,1027.50,948.84,351.42
22,Mosman,3011.73,5086.31,1204.50,30.00
23,North Sydney,1810.95,408.39,1315.38,1101.60
24,Parramatta,1599.46,883.50,747.39,442.03
25,Penrith,2439.15,NaN,781.05,4532.50
26,Pittwater,4204.41,NaN,1531.94,7500.00
27,Randwick,2080.71,954.82,868.13,831.18
28,Rockdale,2694.24,NaN,758.21,1009.42
29,Ryde,2050.12,NaN,906.72,412.02
30,Strathfield,1487.25,NaN,700.03,167.63
31,Sutherland Shire,2451.34,2254.33,1142.24,2070.00
32,Sydney,2414.20,2454.80,2070.47,586.52
33,The Hills Shire,2610.51,NaN,663.57,430.53
34,Warringah,2297.67,1198.00,857.56,383.75
35,Waverley,2523.10,366.50,1015.85,503.41
36,Willoughby,2129.05,1905.00,903.90,837.15
37,Woollahra,3159.99,9280.17,1908.73,595.15

##### 2. ranking of neighbour (top 5) in review scores from total, and single service

In [96]:
df2 = listings_df[-listings_df['review_scores_value'].isnull()][[
    'id', 'neighbourhood_cleansed',
    'review_scores_cleanliness', 'review_scores_checkin',
    'review_scores_communication', 'review_scores_location',
    'review_scores_value'
]]

In [142]:
def average_cal(values):
    return round(np.mean(values), 2)

df2.groupby(
    ['neighbourhood_cleansed']
).agg(
    review_scores_avg = ('review_scores_value', average_cal),
    cleanliness_scores_avg = ('review_scores_cleanliness', average_cal),
    checkin_scores_avg = ('review_scores_checkin', average_cal),
    communication_scores_avg = ('review_scores_communication', average_cal),
    location_scores_avg = ('review_scores_location', average_cal)
).reset_index().sort_values(['review_scores_avg'], ascending=False)

,neighbourhood_cleansed,review_scores_avg,cleanliness_scores_avg,checkin_scores_avg,communication_scores_avg,location_scores_avg
6,Camden,9.61,9.52,9.84,9.87,9.77
31,Sutherland Shire,9.60,9.66,9.93,9.93,9.89
34,Warringah,9.48,9.39,9.84,9.83,9.73
23,North Sydney,9.43,9.36,9.76,9.74,9.82
25,Penrith,9.42,9.53,9.78,9.80,9.61
18,Leichhardt,9.42,9.35,9.82,9.82,9.71
21,Marrickville,9.41,9.12,9.74,9.70,9.64
13,Hornsby,9.41,9.27,9.77,9.75,9.59
26,Pittwater,9.40,9.61,9.88,9.87,9.86
19,Liverpool,9.39,9.27,9.65,9.61,9.42
14,Hunters Hill,9.38,9.18,9.85,9.79,9.68
10,City Of Kogarah,9.38,9.31,9.69,9.69,9.59
17,Lane Cove,9.37,9.11,9.72,9.62,9.53
16,Ku-Ring-Gai,9.37,9.24,9.68,9.64,9.51
37,Woollahra,9.37,9.20,9.77,9.77,9.81
4,Botany Bay,9.35,9.23,9.68,9.65,9.46
8,Canada Bay,9.35,9.24,9.68,9.71,9.63
33,The Hills Shire,9.35,9.33,9.65,9.62,9.54
29,Ryde,9.35,9.26,9.60,9.60,9.50
20,Manly,9.33,9.36,9.79,9.77,9.84
35,Waverley,9.32,9.15,9.77,9.76,9.82
3,Blacktown,9.30,9.30,9.71,9.52,9.22
22,Mosman,9.29,9.35,9.72,9.69,9.75
36,Willoughby,9.29,9.07,9.64,9.59,9.58
11,Fairfield,9.28,9.21,9.64,9.72,9.38
32,Sydney,9.26,9.12,9.64,9.67,9.75
28,Rockdale,9.26,9.15,9.63,9.65,9.52
27,Randwick,9.25,9.05,9.69,9.67,9.62
1,Auburn,9.23,9.15,9.52,9.57,9.64
9,Canterbury,9.20,8.97,9.57,9.60,9.26
15,Hurstville,9.19,9.14,9.57,9.59,9.37
24,Parramatta,9.17,8.98,9.50,9.48,9.30
5,Burwood,9.16,8.95,9.60,9.51,9.60
2,Bankstown,9.15,9.15,9.62,9.54,9.16
0,Ashfield,9.15,9.13,9.66,9.66,9.47
7,Campbelltown,9.12,9.05,9.48,9.67,9.40
30,Strathfield,9.06,8.82,9.45,9.43,9.22
12,Holroyd,8.85,8.59,9.15,9.10,8.80

##### 3. how to find the hottest place in Sydeny - the LGA most most booked and the rate

In [130]:
def stays_sum(x):
    stays = 30-x
    return stays.sum()

def booked_ratio_cal(x):
    return round(np.sum(x < 30) / np.sum(x >= 0) * 100, 2)

df = listings_df.groupby(
    ['neighbourhood_cleansed']
).agg(
    listing_count = ('id', "count"), # sum of listings
    booked_ratio = ('availability_30', booked_ratio_cal),
    stays_sum = ('availability_30', stays_sum),
    price_avg = ('price', 'mean')
).reset_index().sort_values(['booked_ratio'], ascending=False)

df.loc[:, 'stays_per_listing'] = round(df['stays_sum'] / df['listing_count'], 2)

In [135]:
df

,neighbourhood_cleansed,listing_count,booked_ratio,stays_sum,price_avg,stays_per_listing
26,Pittwater,1141,96.67,22891.0,637.921998,20.06
21,Marrickville,1095,96.44,27519.0,124.145205,25.13
35,Waverley,4605,96.40,116133.0,243.191097,25.22
37,Woollahra,1309,95.80,31858.0,361.994652,24.34
22,Mosman,458,95.63,11096.0,440.137555,24.23
20,Manly,1596,95.55,37665.0,326.416667,23.60
32,Sydney,7741,95.41,185407.0,181.645653,23.95
34,Warringah,1665,95.32,39664.0,290.437838,23.82
18,Leichhardt,771,95.20,18074.0,222.315175,23.44
23,North Sydney,1182,95.09,27185.0,211.380711,23.00
31,Sutherland Shire,504,95.04,10374.0,232.238095,20.58
27,Randwick,2974,94.79,71459.0,187.865837,24.03
1,Auburn,361,94.74,7316.0,165.548476,20.27
0,Ashfield,246,94.31,5434.0,149.869919,22.09
8,Canada Bay,373,92.23,7795.0,158.734584,20.90
36,Willoughby,469,91.90,9629.0,218.228145,20.53
29,Ryde,554,91.70,11427.0,116.642599,20.63
5,Burwood,228,91.23,4036.0,100.535088,17.70
7,Campbelltown,105,90.48,1930.0,130.257143,18.38
17,Lane Cove,272,89.34,5582.0,203.805147,20.52
24,Parramatta,508,88.98,9108.0,112.218504,17.93
14,Hunters Hill,54,88.89,986.0,339.240741,18.26
12,Holroyd,79,88.61,1397.0,307.848101,17.68
4,Botany Bay,601,88.52,12774.0,119.793677,21.25
16,Ku-Ring-Gai,295,88.47,5706.0,164.647458,19.34
6,Camden,50,88.00,922.0,109.240000,18.44
33,The Hills Shire,275,88.00,4674.0,232.967273,17.00
10,City Of Kogarah,188,87.77,3682.0,121.159574,19.59
28,Rockdale,823,87.61,16173.0,120.229648,19.65
19,Liverpool,122,86.89,2112.0,126.483607,17.31
15,Hurstville,182,86.81,3285.0,105.076923,18.05
13,Hornsby,417,86.33,7196.0,168.014388,17.26
25,Penrith,166,86.14,2527.0,173.921687,15.22
9,Canterbury,324,84.57,5804.0,100.067901,17.91
30,Strathfield,176,82.95,2998.0,132.272727,17.03
11,Fairfield,92,82.61,1357.0,107.869565,14.75
2,Bankstown,247,80.16,3402.0,90.825911,13.77
3,Blacktown,264,77.65,3540.0,100.219697,13.41

In [91]:
# def availability_ratio(x):
    

# listings_df.groupby(
#     ['neighbourhood_cleansed', 'has_availability']
# ).agg(
    
# )

df = pd.crosstab(listings_df['neighbourhood_cleansed'],
            listings_df['has_availability'],
            values=listings_df['id'],
            aggfunc='count',
            normalize=False)

has_availability           f       t
neighbourhood_cleansed
Ashfield                 3.0   246.0
Auburn                   2.0   361.0
Bankstown                4.0   247.0
Blacktown               11.0   264.0
Botany Bay               1.0   601.0
Burwood                  NaN   228.0
Camden                   NaN    50.0
Campbelltown             1.0   105.0
Canada Bay               2.0   373.0
Canterbury               2.0   324.0
City Of Kogarah          4.0   188.0
Fairfield                1.0    92.0
Holroyd                  2.0    79.0
Hornsby                  6.0   417.0
Hunters Hill             NaN    54.0
Hurstville               3.0   182.0
Ku-Ring-Gai              NaN   295.0
Lane Cove                1.0   272.0
Leichhardt               5.0   771.0
Liverpool                NaN   122.0
Manly                    3.0  1596.0
Marrickville             3.0  1095.0
Mosman                   3.0   458.0
North Sydney             2.0  1182.0
Parramatta               7.0   508.0
Penrith                  2.0   166.0
Pittwater                3.0  1141.0
Randwick                15.0  2974.0
Rockdale                11.0   823.0
Ryde                     1.0   554.0
Strathfield              1.0   176.0
Sutherland Shire         3.0   504.0
Sydney                  32.0  7741.0
The Hills Shire          3.0   275.0
Warringah                9.0  1665.0
Waverley                17.0  4605.0
Willoughby               1.0   469.0
Woollahra                3.0  1309.0